// -----------------------------------------
// Navigation Bar
// -----------------------------------------
.navbar {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: auto;
   z-index: 1000;
   transition: 0.35s ease-out;
   border-bottom: 1px solid transparent;

   // making navbar flex
   .container {
      @include flex-between;
      padding: 1.5rem 0;
   }

   #navToggle {
      display: none;
   }

   .logo {
      @include flex-center(10px);

      img {
         max-height: 28px;
         width: auto;
      }

      h1 {
         font-size: 24px;
         @include font-weight(bold);

         span {
            color: $yellow;
         }
      }

      .toggle-btn {
         display: none;
      }
   }

   .wrapper {
      @include flex-between;
      width: 100%;
   }

   .nav-list,
   .social-icons {
      @include flex-center(1.5rem);
   }

   .nav-list {
      padding: 0 50px;
   }

   .nav-item,
   .social {
      transition: 0.35s ease-out;
   }

   .nav-item:hover,
   .social:hover {
      color: $yellow;
   }

   .social-icons {
      margin-left: auto;
      gap: 1rem;
   }
}

body.scroll-down .navbar {
   transform: translate3d(0, -100%, 0);
}

body.scroll-up .navbar {
   @include dark-color-bg(medium);
   border-color: #555;
}

body.scroll-down .navbar + .navbar-cta {
   top: 0;
}

body.navbar-cta-show .navbar-cta {
   visibility: visible;
   opacity: 1;
}

.navbar-cta {
   background: rgba($yellow, 0.9);
   backdrop-filter: blur(5px);
   color: map-get($map: $black-colors, $key: dark);
   padding-block: 0.5rem;
   position: fixed;
   top: 4.75rem; /* when navbar is up */
   left: 0;
   width: 100%;
   height: auto;
   z-index: 999;
   transition: 0.35s ease-out;
   visibility: hidden;
   opacity: 0;

   .container {
      @include flex-center;
      gap: 1rem;
      position: relative;
   }

   .link {
      @include flex-center;
      gap: 0.5rem;
      font-weight: map-get($map: $font-weight, $key: medium);

      &-text {
         border-bottom: 1px solid;
      }

      &-icon {
         color: red;
      }

      &:hover {
         color: red;
      }
   }

   .close {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      cursor: pointer;
   }

   &:has(.close.hide) {
      top: -25% !important;
   }
}

// -----------------------------------------
// Preload
// -----------------------------------------

.preload {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: map-get($map: $black-colors, $key: dark);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 9999;
}

.spinner {
   width: 50px;
   height: 50px;

   animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

.preload h1 {
   font-size: 24px;
   color: #333; /* text color */
   margin-top: 20px;
}

// -----------------------------------------
// GoToTop
// -----------------------------------------
.gototop {
   display: none;
   position: fixed;
   bottom: 1.5rem;
   right: 1.5rem;
   width: 50px;
   height: 50px;
   border: none;
   outline: none;
   font-size: 25px;
   color: $yellow;
   background-color: map-get($map: $black-colors, $key: dark);
   transition: 0.35s ease-in-out;
}
@keyframes fadeInUp {
   0% {
      transform: translate(0px, 100px);
      opacity: 0;
   }
   100% {
      transform: translate(0px, 0);
      opacity: 1;
   }
}

@keyframes fadeInDown {
   100% {
      transform: translate(0px, 100px);
      opacity: 0;
   }
   0% {
      transform: translate(0px, 0);
      opacity: 1;
   }
}

.gototop:hover {
   color: map-get($map: $black-colors, $key: dark);
   background-color: $yellow;
}

// -----------------------------------------
// Buttons
// -----------------------------------------
.awesome-link {
   display: inline-block;
   padding: 1rem 1.25rem;
   position: relative;
   overflow: hidden;
   @include font-weight(medium);
   transition: 0.35s ease-in-out;

   &:hover {
      transition-delay: 0.3s;
      @include dark-color(dark);
   }

   &:hover:before {
      width: 98%;
      transition: 0.35s ease-in-out 0s;
   }

   &:hover:after {
      transition-delay: 0.35s;
      top: 0;
   }

   &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 30px;
      height: 97%;
      border: 1px solid $yellow;
      z-index: -1;
      transition: 0.35s ease-in-out 0.35s;
   }

   &:after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 99%;
      height: 100%;
      background: $yellow;
      z-index: -1;
      transition: 0.35s ease-in-out;
   }
}

.normal-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.25rem;
   border: 1px solid $yellow;
   padding: 10px 20px;
   @include font-weight(medium);
   transition: 0.35s ease-in-out;

   &.primary {
      background: $yellow;
      @include dark-color(dark);
   }

   &:hover {
      background: $yellow;
      @include dark-color(dark);
      background: $light;
      filter: drop-shadow(4px 4px 0 rgba($yellow, 0.5));
   }
}

// -----------------------------------------
// Forms
// -----------------------------------------
textarea {
   min-height: 150px;
   resize: none;
}

.form-group {
   width: 100%;

   .error {
      color: $orange;
      font-size: 0.9rem;
      padding: 5px 0;
      @include font-weight(light);
   }
}

.form-control {
   width: 100%;
   height: 3.5rem;
   border-radius: 0;
   @include dark-color-bg(dark);
   border: 1px solid map-get($map: $black-colors, $key: light);
   color: $light;
   padding: 1rem;
   font-size: 1rem;
   font-family: inherit;

   &:focus {
      outline: none;
      border-color: rgba(255, 214, 0, 0.5);
   }
}

// Specific styles for react-phone-input-2 to match form-control
.react-tel-input {
   .form-control {
      @include dark-color-bg(dark);
      color: $light;
      border: 1px solid map-get($map: $black-colors, $key: light);
      border-radius: 0;
      padding-left: 50px;
      width: 100%;
      height: 3.5rem;
   }

   .flag-dropdown {
      background-color: map-get($map: $black-colors, $key: dark);
      border: 1px solid map-get($map: $black-colors, $key: light);
      border-radius: 0;
   }

   .selected-flag {
      background-color: map-get($map: $black-colors, $key: dark);
      border: 1px solid map-get($map: $black-colors, $key: light);
      border-radius: 0;

      &:hover,
      &:focus,
      &:active {
         background-color: map-get($map: $black-colors, $key: dark);
      }
   }

   .form-control:focus {
      border-color: rgba(255, 214, 0, 0.5);
   }

   .country-list {
      background-color: map-get($map: $black-colors, $key: light);
      color: $light;

      .country {
         &:hover {
            background-color: map-get($map: $black-colors, $key: dark);
         }

         &.highlight {
            background-color: map-get(
               $map: $black-colors,
               $key: dark
            ) !important;
         }
         .dial-code {
            color: $light;
         }
      }

      .selected-flag {
         background-color: map-get($map: $black-colors, $key: dark);
         color: $light;
      }
   }
}

// -----------------------------------------
// Frame Animation
// -----------------------------------------
.animation-frame {
   position: fixed;
   top: 0;
   left: 0;
   height: 100vh;
   width: 100%;
   z-index: 9999;

   &.one {
      @include dark-color-bg(dark);
   }

   &.two {
      @include dark-color-bg(medium);
   }

   &.three {
      @include dark-color-bg(light);
   }
}
