.p-thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 10px;
    background-color: #222;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .check-icon {
    background-color: #FFF8E1;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  h2 {
    font-size: 1.5em;
    margin: 0 0 10px;
    color: $yellow;
  }
  
  .give_margin{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    gap: 5px;
  }
  
  .back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    color: #333;
    font-size: 1em;
  }

  