@media screen and (max-width: 1280px) {
   // global components
   .container {
      max-width: initial;
      width: 100%;
      padding: 0 50px;
   }

   // navigation bar
   .navbar .container {
      padding: 0.8rem 50px;
   }
  
    .navDropdownLabel {
      width: auto;
    }
  

   .navbar-cta {
      .close {
         right: 50px;
      }
   }

   // services
   .services .card-wrapper .card {
      max-width: 40%;
      padding-top: 75px;

      img {
         max-width: 40%;
      }
   }

   // detailed work
   .detailed-work {
      .container {
         padding: 3rem 50px;
      }
   }
}

@media screen and (max-width: 1100px) {
   // our work
   .our-work {
      padding: 120px 0;
   }

   .gallery-grid {
      margin-top: 50px !important;
      grid-template-columns: 1fr 1fr 1fr !important;
   }

   .detailed-work .review .title {
      flex-direction: column;
      gap: 0.5rem;
      align-items: flex-start;
   }
}

@media screen and (max-width: 992px) {
   // global styles
   .container {
      padding: 0 30px;
   }

   // navigation bar
   .navbar {
      .container {
         padding: 1.5rem 30px;
      }

      // toggle
      .toggle-btn {
         display: block;
         width: 40px;
         height: 40px;
         @include flex-center(5px);
         flex-direction: column;
         transition: 0.5s ease-out;
         text-align: center;

         .line {
            width: 100%;
            height: 2px;
            background: $light;
            transform-origin: center;
            position: relative;
            transition: 0.35s ease-in-out;
         }
      }

      #navToggle:checked ~ .toggle-btn {
         gap: 0;

         .one {
            transform: translateY(1px) rotate(90deg);
         }

         transform: rotate(45deg);
      }

      #navToggle:checked ~ .wrapper {
         opacity: 1;
         visibility: visible;
      }

      .navDropdown{
         padding-block: 0;
      }
      .navDropdownMenu{
         display: none;
      }
      
       #dropdownCheckbox:checked ~ .navDropdownMenu {
         display: block;
         position: relative;
         top: initial;
         opacity: 1;
         visibility: visible;
         margin-top: 1rem;
         width: auto;
        }

      .wrapper {
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         height: 100vh;
         @include dark-color-bg(dark);
         opacity: 0;
         visibility: hidden;
         z-index: -1;
         transition: 0.35s ease-out;
         flex-direction: column;
         padding: 30vh 0;

         .nav-list {
            flex-direction: column;
            font-size: 1.2rem;
         }

         .social-icons {
            margin-left: initial;
            font-size: 1.5rem;
            
         }
      }

      .top-nav-wrapper {
         width: 100%;
         @include flex-between;
      }
   }

   .navbar-cta {
      top: 5.5rem;
      .container {
         flex-direction: column !important;
         gap: 0.25rem;
         padding-inline: 50px;
         text-align: center;
      }
      .close {
         right: 30px;
      }
   }

   // Home Page
   .hero {
      // .title{}
      .hero-image {
         display: none;
      }

      &::after {
         z-index: -2;
         width: 30%;
         left: initial;
         right: 0;
      }

      &::before {
         display: none;
      }
   }

   .about-us {
      .wrapper {
         .right {
            padding-right: 30px;
            gap: 1.5rem;
         }

         .left {
            width: 40%;
         }

         .right {
            width: 60%;
         }
      }
   }

   .testimonials {
      .review {
         font-size: 0.9rem !important;
      }
   }

   // /hire-us
   .hire-us {
      .right {
         flex-direction: column;

         a {
            width: 100%;
            text-align: center;
         }
      }
   }
   // footer
   .footer {
      text-align: center;
      padding: 0;
      .container {
         padding: 3rem 30px 2rem 30px;
         flex-direction: column;
         gap: 2rem;
      }
      .left {
         width: 100%;
         text-align: left;
         .des {
            font-size: 0.9rem;
         }
      }
      .right {
         width: 100%;
         .quickLinks {
            text-align: left;
            display: grid;
            grid-template-columns: 1fr;
            .link {
               justify-content: flex-start;
            }

            gap: 0.8rem;
            .icon {
               margin-left: 0;
            }
         }
         .social-media {
            justify-content: flex-start;
            .icon {
               margin-left: 0;
            }
            a {
               margin-right: 20px;
            }
         }
         .copyright {
            text-align: left;
            .break {
               display: block;
            }
         }
      }
   }
}

@media screen and (max-width: 768px) {
   * {
      cursor: initial !important;
   }

   a,
   button,
   label,
   .slick-dots {
      cursor: pointer !important;
   }

   .mouse {
      display: none;
   }

   body {
      overflow-x: hidden !important;
   }

   section {
      padding-bottom: 100px;
   }

   // hero
   .hero {
      .content {
         .title {
            max-width: 80%;
         }

         .para {
            width: 100% !important;
         }
      }
   }

   // hireus
   .hire-us {
      text-align: center;

      .container {
         padding: 50px 30px;
         flex-direction: column;
         gap: 1.5rem;
      }

      .para {
         margin-top: 0.5rem;
      }

      .center {
         display: none;
      }

      .right {
         flex-direction: row;
      }
   }

   // about us
   .about-us {
      .numbers {
         display: grid !important;
         grid-template-columns: 1fr 1fr;
         grid-gap: 5rem 0;
         padding-top: 100px;
      }

      .wrapper {
         padding: 30px;
         position: relative;
         margin-top: 100px;

         &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 20%;
            height: 100%;
            @include dark-color-bg(light);
            z-index: -1;
         }

         .left {
            display: none;
         }

         .right {
            width: 100%;
            padding-left: 5%;
            padding-right: 0;
         }
      }
   }

   //services
   .services {
      .card-wrapper {
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-gap: 100px 1rem;

         .card {
            width: 100% !important;
            max-width: initial;
         }
      }
   }

   // faq
   .faq-wrapper {
      padding: 0 30px;
      gap: 0.8rem !important;

      .answer {
         padding: 1rem 1.5rem !important;
         font-size: 0.9rem !important;
      }
   }

   // ourwork
   .our-work {
      padding-bottom: 50px;

      .gallery-grid {
         grid-template-columns: 1fr 1fr !important;

         .content {
            padding: 1rem;
         }
      }

      .heading h2 {
         white-space: initial !important;
      }

      .line {
         display: none;
      }

      .filter-container {
         gap: 0.5rem;
      }

      .filter-container button {
         font-size: 0.9rem;
         padding: 8px;
      }
   }

   .detailed-work {
      .row {
         flex-direction: column !important;
         gap: 1rem;

         .close {
            display: none !important;

            &.mobile {
               display: flex !important;
               margin-bottom: 0 !important;
            }
         }

         .details {
            width: 100%;
            padding-top: 0 !important;
         }

         .review {
            position: relative !important;
            margin-left: initial !important;
            width: 100%;
            max-width: 100%;

            .title {
               margin-top: 0 !important;
            }

            .client {
               margin-bottom: 3rem;
            }
         }
      }
   }

   

   // contact us
   .contact-us {
      .container {
         flex-direction: column-reverse;
         gap: 10rem;
      }

      .left,
      .right {
         width: 100%;
      }

      .left {
         margin-left: 60px;
      }

      .line {
         display: none;
      }
   }

   //calculator

   .cal {

      padding: 0px; 
      gap: 2rem;
      background: none; 
      flex-direction: column; 
      position: relative;
    }
    .calWrap{
      padding-top: 0px;
   }
    .summary{
      display: none !important;
    }
  
    .form-container{
      position: relative;
      padding: 48px var(--Paragraph-Letter-Spacing, 8px);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      align-self: stretch;
      z-index: 1;
      transition: opacity 0.3s ease;
    }

    .form-container.hidden1 {
      opacity: 0.0;
    }

    .queLabel{
      align-self: stretch;
      color: #FFF;
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      white-space: initial;
    }


      .type-wrapper{
         gap: 12px !important;
      }

      .c-dropdown-btn h4{
         font-size: 16px !important;
         text-align: left !important;
      }
      .c-option-cost-cost{
         font-size: 11px !important;

      }
      .c-dropdown-item{
         padding: var(--Paragraph-Space, 16px) var(--Radius-20, 9px) !important;
      }
      .c-option-time{
         font-size: 12px !important;
         span{
            font-size: 12px !important;
         }
      }

      .optionLabel{
         font-size: 16px !important;
      }

      .option-cost{
         font-size: 10px !important;
         gap:4px !important;
      }

    .curr-div{
      p{
         font-size: 0 !important;
      }
    }
   

    .c-dropdown-item-title{
      display: flex;
      align-items: center;
      align-content: center;
      gap: 4px;
      flex: 1 0;
      flex-wrap: wrap;
      color: #333333;
      font-size: 13px !important;
    }

    .c-option-cost{
      display: flex;
      align-items: flex-end !important;
      gap: 8px;
      align-self: stretch;
      flex-direction: column;
      justify-content: flex-end;
    }


    @keyframes moveInRight {
      0% {
        transform: translateX(100%);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }

    
    .go-back, .summary-mobile {
      animation: moveInRight 500ms ease-out;
    }

    .go-back p {
      font-size: 13px !important;
    }


   .no-option{
      width: 100% !important;
      svg{
         height: 10px;
         width: 10px;
      }
   }


   .c-option-rectangle{
      display: none;
   }

   .hidden{
      display: flex !important;
   }

.form-option{
   background: inherit !important;
}

.recommended-label1 p{
   font-size: 0px;
}


    .option-time{
      color: #FFF;
      text-align: right;
      font-family: Roboto;
      font-size: 10px !important;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      span{
         font-size: 12px !important;
      }
    }


.option-cost{
   display: flex;
   align-items: flex-end;
   gap: 8px;
   align-self: stretch;
   flex-direction: column;
   justify-content: flex-end;
}

   .option-cost-res{
      align-items: center;
      gap: 2px !important;
      .strikethrough{
         font-size: 10px !important;
      }
      .option-cost-cost{
         font-size: 11px !important;
      }
      .option-rectangle{
         width: 2px !important;
      }
   }   

    .option-cost-cost{
      color: #FFD600;
      text-align: right;
      font-family: Roboto;
      font-size: 12px !important;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .option-rectangle{
      display: none;
    }
    .recommended-label{
      font-size: 10px !important;
    }

    .go-back{
      display: inline-flex;
      align-items: center;
      gap: 4px;
      z-index: 1000;
      .back-svg-bg {
         width: var(--Radius-10, 10px);
         height: var(--Paragraph-Space, 16px);
         flex-shrink: 0;
         fill: var(--Dark--2, #484848);
         position: relative;
         display: inline-block;
      }

      .back-svg svg{
         width: 3.231px;
         height: 5.708px;
         flex-shrink: 0;
         position: absolute;
         top: 50%; 
         left: 50%; 
         transform: translate(-50%,    -50%); 
      }
      p{
         color: #FFF;
         font-family: Roboto;
         font-size: 10px;
         font-style: normal;
         font-weight: 500;
         line-height: normal;
      }
    }

.yes-option{
   width: 100% !important;
}

.radio-symbol {
   width: var(--Paragraph-Space, 12px);
   height: var(--Paragraph-Space, 12px);
}

    .cost1 {
      align-items: center !important;
      position: fixed;
      top: 200px;
      right: -57px; 
      z-index: 900; 
    
      display: flex;
      width: 140px;
      height: 22px;
      transform: rotate(-90deg);
      padding: 3px 3px;
      justify-content: center;
      align-items: center;
      gap: var(--Radius-10, 10px);
      flex-shrink: 0;
      font-weight: 700;
      border-radius: 4px;
      background: #B2B2B2;

      animation-timing-function: ease-out;
      animation-duration: 300ms;
      padding: 10px 10px;

    }

    .summary-mobile {
      transition: right 300ms ease-out;
      display: none;
      margin-top: -17%;
  }

//   .form-container.hidden{
//    transition: left 300ms ease-out;
//    display: none;
//   }
  
    .cost {
      .total-cost{
         color: #ffd600 !important;
         font-family: Roboto;
         font-size: 13px !important;
         font-style: normal;
         font-weight: 700 !important;
         line-height: normal;
      }
    }
  
    .cost1 .total-cost {
      display: flex;
      flex-direction: row;
      color: var(--Dark-1, #333);
      font-family: Roboto;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      
    }

    .c-dropdown-item {
      padding: var(--Paragraph-Space, 16px) var(--Radius-20, 20px) !important;
    }

    .strikethrough{
      color: rgba(255, 255, 255, 0.7);
      text-align: center;
      font-family: Roboto;
      font-size: 10px !important;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-decoration-line: line-through;
      opacity: 0.9;
    }

    .summary{
      display: none;
    }
    .summary-mobile{
      position: absolute;
      z-index: 900;
      display: flex;
      width: 100%;
      height: 100%;
      background-color:#333333;
      flex-direction: column;
      align-items: flex-start;
      gap: 30px;
      flex-shrink: 0;
    }
    .summary-container{
      display: flex;
      padding: var(--Paragraph-Space, 0px);
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 12px;
      align-self: stretch;
      background: #333;
    }
    .summary-row {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      align-self: stretch;
    }
    .name-div{
      display: flex;
      padding: 6px 8px;
      align-items: center;
      gap: var(--Radius-10, 10px);
      flex: 1 0 0;
      border-radius: 5px;
      background: #222;

      h3{
         flex: 1 1;
         color: #fff;
         font-family: Roboto;
         font-size: 12px;
         font-style: normal;
         font-weight: 600;
         line-height: normal;
      }
    }
    .cost-div{
      display: flex;
      width: 84px;
      padding: 6px 8px;
      align-items: center;
      gap: var(--Radius-10, 10px);
      border-radius: 5px;
      background: #222;

      h3{
         flex: 1 1;
         color: #fff;
         font-family: Roboto;
         font-size: 12px;
         font-style: normal;
         font-weight: 600;
         line-height: normal;
      }
    }
    


    .calculator .content1 .para{
      margin-top: 1rem !important;
    }
    .content1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      text-align: center;

      .sub-title {
         letter-spacing: 0.1em;
         @include font-weight(light);
         color: $yellow;
         font-size: 1rem;
         overflow: hidden;
         position: relative;

         .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @include dark-color-bg(medium);
            z-index: 1;
         }
      }

      .title {
         font-size: 3rem;
         @include font-weight(bold);
         margin-top: 0.9rem;

         .hide {
            overflow: hidden;
         }

         span {
            color: $yellow;
         }
      }

      .para {
         color: #FFF;
         text-align: center;
         font-family: Roboto;
         font-size: 18px;
         font-style: normal;
         font-weight: 400;
         line-height: normal;
         opacity: 0.9;
      }

      .normal-btn {
         width: fit-content;
      }
   }
    .content-cal{
      display: none !important;
    }
    .main{
      color: #fff;
      font-family: Roboto;
      font-size: 14px !important;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      opacity: 0.8;
    }
    .sub{
      color: #ffd600;
      font-family: Roboto;
      font-size: 16px;
      align-self: stretch;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .cost{
      width: 84px;
      flex-shrink: 0;
      p{
         color: #fff !important;
         font-family: Roboto;
         font-size: 12px;
         font-style: normal;
         font-weight: 400;
         line-height: normal;
      }
    }      
}

@media screen and (max-width: 500px) {
   .container {
      padding: 0 20px;
   }
   .navDropdownMenu {
      width: 100%;
      top: 60px; /* Adjust if needed */
      padding: 1rem;
    }

   .navbar .container {
      padding: 1rem 20px;
   }

   .navbar-cta {
      top: 4.5rem;
      .close {
         right: 20px;
      }
   }
   

   .services .card-wrapper {
      grid-template-columns: 1fr !important;
      gap: 20px;
      margin-top: 50px;

      .card {
         padding: 4rem 2rem 2rem 2rem;
      }

      .card img {
         max-width: 20%;
         top: 20px;
      }
   }

   .faq .faq-wrapper {
      margin-top: 50px;
   }

   .testimonials {
      .testimonial-slider-wrapper .slider-btn {
         @include dark-color-bg(dark);
      }

      .testimonial-slider {
         max-width: 100%;

         .card {
            padding: 2rem 1.5rem;

            .quote {
               width: 4.5rem;
               left: 2rem !important;
            }
         }

         .user {
            img {
               width: 40px;
            }

            .name {
               font-size: 1rem;
            }

            .des {
               font-size: 0.8rem;
               padding-right: 0.5rem;
            }
         }
      }
   }

   .our-work .gallery-grid {
      grid-template-columns: 1fr 1fr !important;
   }

   // detailed work
   .detailed-work {
      .container {
         padding: 050px 20px !important;
      }

      .slider-wrapper {
         min-height: initial;
      }

      .titles {
         margin-top: 0;
      }

      .description p {
         text-align: left;
      }

      .titles {
         gap: 01rem;

         .image {
            height: auto;
         }

         .project-heading {
            font-size: 1.7rem;
         }
      }
   }
}

@media screen and (max-width: 500px) {
   .social-icons {
      margin-top: 20px;
      
   }
   .navDropdownMenu {
      width: 100%;
      top: 50px; /* Adjust if needed */
      padding: 0.5rem;
    }
  
    .navDropdownLabel {
      font-size: inherit; /* Adjust if needed */
    }
  
    .navDropdownMenu li {
      padding: 0.5rem 1rem;
    }

}